*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url("/descarga.jpg");
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: dimgrey;
  height: 80px;
}
.boton-header{
  width: 50%;
  text-align: center;
  color: white;
 
}
a:hover{
  text-decoration:none;
  color: black;
}
h1.titulo{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
form{
  text-align: center;
}
form input{
  width: 41em;
    border-radius: 11px;
    
}
form button{
  width: 5em;
    border-radius: 11px;
}
.contenedor-img{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-around;
}
.gifs{
  width: 40%;
  border: black 2px solid;
  border-radius: 5px;
  margin-bottom: 10px;
}
.titulo-gif{
  text-align: center;
  color: black;
  font-weight: bold;
  
}
.img{
  margin: auto;
}
.gifs-tren{
  width: 80%;
    margin: auto;
    border: black solid 2px;
    margin-top: 60px;
}
